@import url(/styles/global/global.css);

/* General Reset */


/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor1);
    padding: 15px 50px;
    border-bottom: 1px solid #6A4519;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.back-button {
    /* background-color: #ff8d8d; */
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
.back-button:hover {
    color: #2d7d28; 
}

.header .logo {
    font-size: 1.5rem;
    color: #333;
    /* background-color: #ff2a2a; */
    align-items: center;
    width: 133px;
    height: 40px;
    margin-right: 55px;
}


.menu-button {
    /* background-color: #ff2a2a; */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}















/* Contêiner externo para capturar cliques fora */
.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: none; 
    z-index: 999; 
}

.sidebar-wrapper.open {
    display: block; /* Torna visível quando ativo */
}

/* O modal em si */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 500px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar-content{
    width: 100%;
    /* background-color: #2d7d28; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.sidebar-content .header{
    /* background-color: #d5e3ff; */
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin-top: 30px;
}

.sidebar-content .botoes{
    /* background-color: #47db9b; */
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 60%;
    height: 40%;
    gap: 15px;
    justify-content: center;
    margin-bottom: 100px;
}


.sidebar-content .botoes .button{
    /* color: #070707; */
    text-decoration: none;
    align-items: center;
    text-align: center;
    background-color: var(--cor6);
    padding: 15px 10px;
    cursor: pointer;
    font-size:1em;
    font-weight: 500;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
}

.sidebar-content i{
    font-size: 1.2em;
    color: white;
}

.sidebar-content .botoes .button:hover {
    transform: translateY(1px); /* Move 1px para baixo */
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /* Ajusta a sombra para dar profundidade */
}

.close-button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size:1.2em;
    font-weight: 600;
    margin-top: 40px;
}

.close-button:hover {
    background-color: #ff3333;
}

.sidebar-content img{
    width: 100px;
}

.sidebar{
    right: 0;
}


/* Defina a animação */
@keyframes slideIn {
    from {
        right: -300px;
    }
    to {
        right: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Aplique ao modal */
.sidebar.open {
    animation: slideIn 0.3s ease;
}

.sidebar-wrapper.open {
    animation: fadeIn 0.3s ease;
}





/**************** sidebar de editar perfil *********************/


.edit-perfil{
    width: 100%;
    height: 100%;
    background-color: #84d8ff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/**************** sidebar de sugestao *********************/


.sugestion{
    width: 100%;
    height: 100%;
    background-color: var(--cor1);
}

.sugestion-head{
    width: 100%;
    height: 13%;
    /* background-color: #dddddd; */
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sugestion-head .back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    left: 20px; 
    font-size: 1.4em; 
    text-decoration: none;
    color: #333; 
    background: none;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sugestion-head h2 {
    margin: 0; 
    font-size: 1.5em;
    font-weight: bold;
    color: #333; 
}
.sugestion h2{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.sugestion .form{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /* Ajusta a sombra para dar profundidade */

}

.sugestion .form label{
    display: block;
    margin: 5px;
    font-weight: bold;
    text-align: left;
}

.sugestion .form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sugestion .form select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sugestion .form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.form-buttons{
    display: flex;
    /* background-color: #0d6790; */
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.sugestion .form .button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sugestion .form .cancel{
    width: 40%;
    background-color: var(--cor5);
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
}

.sugestion .form .cancel:hover{
    background-color: var(--sombraCor5);
}

.sugestion .form .send{
    width: 55%;
    background-color: var(--cor6);
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
}

.sugestion .form .send:hover{
    background-color: var(--sombraCor6);
}







.success-container {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95); 
}

.success-container .content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: #ffd1d1; */
    width: 100%;
    height: 100%;
}

.success-container img{
    width: 200px;
    margin-bottom: 20px;
}

.success-container p {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0d6790; /* Cor do texto */
}

.success-container .button.back-home {
    background-color: #0d6790;
    color: white;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.success-container .button.back-home:hover {
    background-color: #0a4e6b; /* Cor ao passar o mouse */
}









/**************** modais de sugestao *********************/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    max-width: 400px;
}


.modal-content img{
    width: 30px;
    margin: 20px;
    top: 0;
}

.dados{
    display: block;
    width: 70%;

}

.modal-content h3{
    font-size: 22px;
    margin: 20px;
    color: #2d7d28;
}


.modal-content label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    /* background-color: #2d7d28; */
}


.modal-content input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-content textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100px;
}

.modal-close {
    margin-top: 20px;
    padding: 10px 20px;
    background: #0e8fcb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
}

.modal-close:hover {
    background: #0d6790;
}














/**************************************/

main {
    padding: 2em;
    background: #FFFDF8;
}

/* Section */
.region {
    margin: 10px 0;
    text-align: center;
}

.region h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #070707;
    text-align: center;
}







/* Cities Grid */
.cities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.city-card {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.city-card span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 1.2rem;
}

.city-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}









footer {
    background: var(--cor4);    
    text-align: center;
    padding: 20px;
    margin-top: 50px;

}

footer .logo {
    width: 133px;
    height: 40px;
    margin: 10px auto;
}

footer .intro {
    text-align: center;
    color: #ffffff;
    font-size: 12.85px; 
    font-family: Inter; 
    font-weight: 500;
    margin-bottom: 20px;

}

footer #slogan {
    text-align: center; color: #ffffff; 
    font-size: 12.85px;
    font-family: Inter;
    font-weight: 800;
    margin-bottom: 20px;

}









/* Responsive */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .menu-button {
        margin-top: 10px;
    }

    .cities-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
