<link rel="stylesheet" href="../styles/login.css">

<!-- Modal para Recuperação de Senha (informar codigo)-->
<div id="sucesso" class="modal">
    <!-- Parte esquerda: imagem -->
    <div 
        class="modal-image" style="background-image: url('../images/c91a33f41deaf0e6aeb01309747b3b1d--beautiful-places-argentina-4098095181.jpg');">
    </div>    <!-- Parte direita: formulário -->
    <div class="modal-form">
        <div class="header">
            <div class="head">
                <a class="back-button" href="javascript:void(0)" 
                    onclick="closeModal('sucesso'); openModal('login/alterarSenha')">
                    &lt; VOLTAR
                </a> 
            </div>
            <div class="head">
                <img src="../images/logo/Rota.svg" alt="Rotas Nordestinas">
            </div>
            <div class="head">
                <a class="close" href="javascript:void(0)" onclick="closeModal('sucesso')">&times;</a>
            </div>
        </div>
        <div class="sucess"> 
            <h1>Senha Alterada com sucesso !</h1>
            <img src="../images/confirm/senha_alterada_sucess.svg" alt="">
            <a class="login-button" href="javascript:void(0)"  onclick="closeModal('sucesso'); openModal('login/loginModal')">Continuar</a>
        </div>
    </div>
</div>

