.container{
    /* background-color: #dddddd; */
    padding: 30px;
}

.cityName{
    background-color: var(--cor4);
    color: white;
    margin-bottom: 60px;
    padding: 10px;
    width: 100%;
}

/* Estilo para a descrição da cidade */
.city-description {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Título da seção de pontos turísticos */
.points-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

/* Lista de pontos turísticos */
.points-list {
    list-style: none;
    padding: 20px;
    /* background-color: aqua; */
}

.group1{
    display: flex;
    /* background-color: rgb(255, 231, 50); */
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.group1 img{
    width: 20%;
    border-radius: 10px;
}

.group2{
    /* background-color: #ff6f00; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0px 10px;
    text-align: center;
}

/* Nome do ponto turístico */
.point-name {
    font-size: 30px;
    color: #007BFF;
    padding: 10px 20px;
}

/* Descrição do ponto turístico */
.point-description {
    font-size: 16px;
    color: #666;
    padding: 10px 20px;
}

