<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotas Nordestinas</title>
    <link rel="icon" href="../images/logo/favicon_verde.png" type="image/png">
    <link rel="stylesheet" href="../styles/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Cabeçalho -->
    <header style="background: url('../images/cidades/dsc_0198.jpg') no-repeat center center/cover;">
        
        <nav class="nav-bar">
            <img class="logo" src="../images/logo/Rota.svg" alt="Rotas Nordestinas">
            <div class="group1">
                <a href="javascript:void(0)" onclick="openModal('cadastro/usuario/cadastro1')">CRIE UMA CONTA</a>
                <div class="divider"></div>
                <a href="javascript:void(0)" onclick="openModal('cadastro/colaborador/cadastro_C1')">SEJA UM COLABORADOR</a>
                <div class="divider"></div>
                <a href="javascript:void(0)" onclick="openModal('login/login')">ACESSE SUA
                    CONTA</a>
            </div>
        </nav>


        <div class="container1">
            <div class="container2">
                <div class="text-box">
                    <span class="description">
                        <span class="essence">Explore a essência do Nordeste:</span><br />
                        <span class="universe">Um Universo de Cultura e Paisagens Únicas</span>
                    </span>
                </div>
            </div>

            <div class="button-container">
                <a href="/templates/main.html" class="explore-button">
                    Explorar
                    <i class="bx bx-search"></i>
                </a>
            </div>
        </div>
    </header>

    <!-- Funcionalidades -->
    <div class="features">
        <div class="feature">
            <h2>Rotas Exclusivas</h2>
            <p>Explore rotas personalizadas e autênticas que vão desde os destinos mais conhecidos até os tesouros
                escondidos do Nordeste.</p>
        </div>
        <div class="feature">
            <h2>Atividades e Experiências</h2>
            <p>Mergulhe na cultura nordestina com atividades selecionadas para tornar sua viagem inesquecível.</p>
        </div>
        <div class="feature">
            <h2>Colaboradores Locais</h2>
            <p>Contamos com colaboradores em cada cidade, atualizando nosso site com informações culturais ricas e
                verdadeiras.</p>
        </div>
        <div class="feature">
            <h2>Feedbacks dos Viajantes</h2>
            <p>Veja o que nossos visitantes têm a dizer e inspire-se com histórias de aventura e descoberta.</p>
        </div>
    </div>

    <!-- Rodapé -->
    <footer>
        <img class="logo" src="../images/logo/LOGO_WHITE.svg" alt="Rotas Nordestinas">
        <p class="intro">O Rotas Nordestinas é o seu guia definitivo para descobrir o melhor do Nordeste do Brasil!
            Lançado em 2024, nosso site é feito especialmente para quem deseja explorar a rica cultura, as paisagens
            exuberantes e os destinos únicos que essa região oferece. De praias paradisíacas a centros históricos
            repletos de charme, aqui você encontra guias completos e gratuitos sobre os principais destinos nordestinos,
            com informações essenciais, fotos encantadoras e dicas exclusivas. Seja bem-vindo e embarque nessa jornada
            inesquecível!</p>
        <p id = "slogan">Rotas Nordestinas – Seu Portal para o Melhor do Nordeste Brasileiro! <br>Lançado em 2024</p>
    </footer>

    <!-- Aqui eu tive que fazer a separação do modal anterior pois o id estava na parte que ficava escura e estava sendo chamada pelo javascript,
    então o evento de fechar quando clicar fora nunca iria funcionar pois ele estava pegando a janela toda
    eu separei modal de overlay que em português significa 'sobreposição' -->

    <!-- Aquele problema de o modal não estar abrindo era a propriedade 'position' do css no container que estava dando aquele conflito -->

    <!-- Overlay para modals -->
    <div class="overlay" id="overlay" onclick="closeModal()"></div>

    
    
    <script type="text/javascript" src="../js/index.js"></script>
</body>

</html>