<link rel="stylesheet" href="../styles/login.css">


<!-- Modal para Login -->
<div id="loginModal" class="modal">
        <!-- Parte esquerda: imagem -->
        <div 
            class="modal-image" style="background-image: url('../images/c91a33f41deaf0e6aeb01309747b3b1d--beautiful-places-argentina-4098095181.jpg');">
        </div>
        <!-- Parte direita: formulário -->
        <div class="modal-form">
            <div class="header">
                <div class="head">
                    <a class="back-button" href="javascript:void(0)" 
                        onclick="closeModal('loginModal')">
                        &lt; VOLTAR
                    </a> 
                </div>
                <div class="head">
                    <img src="../images/logo/Rota.svg" alt="Rotas Nordestinas">
                </div>
                <div class="head">
                    <a class="close" href="javascript:void(0)" onclick="closeModal('forgotPasswordModal')">&times;</a>
                </div>
            </div>
            <form id="loginForm">
                <h2>Acesse Sua Conta</h2>
                <div class="content-form">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
                    <button type="submit" class="login-button">Entrar</button>
                    <a href="javascript:void(0)" onclick="openModal('forgotPasswordModal')">Esqueceu a senha? Clique Aqui</a>
                </div>
            </form>
        </div>
</div>



<!-- Modal para Recuperação de Senha -->
<div id="forgotPasswordModal" class="modal">
    <!-- Parte esquerda: imagem -->
    <div 
        class="modal-image" style="background-image: url('../images/c91a33f41deaf0e6aeb01309747b3b1d--beautiful-places-argentina-4098095181.jpg');">
    </div>    <!-- Parte direita: formulário -->
    <div class="modal-form">
        <div class="header">
            <div class="head">
                <a class="back-button" href="javascript:void(0)" 
                    onclick="closeModal('forgotPasswordModal'); openModal('loginModal')">
                    &lt; VOLTAR
                </a> 
            </div>
            <div class="head">
                <img src="../images/logo/Rota.svg" alt="Rotas Nordestinas">
            </div>
            <div class="head">
                <a class="close" href="javascript:void(0)" onclick="closeModal('forgotPasswordModal')">&times;</a>
            </div>
        </div>
        <div class="content-forgot">
            <h2>Esqueceu a senha?</h2>
            <p>Sem problemas! Digite seu e-mail abaixo para continuar.</p>
            <div class="inputs-forgot">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                <!-- <button type="submit" class="login-button">Continuar</button> -->
                <a class="login-button" href="javascript:void(0)" onclick="openModal('informarCodigo')">Continuar</a>
            </div>
        </div>
    </div>
</div>




<!-- Modal para Recuperação de Senha (informar codigo)-->
<div id="informarCodigo" class="modal">
    <!-- Parte esquerda: imagem -->
    <div 
        class="modal-image" style="background-image: url('../images/c91a33f41deaf0e6aeb01309747b3b1d--beautiful-places-argentina-4098095181.jpg');">
    </div>    <!-- Parte direita: formulário -->
    <div class="modal-form">
        <div class="header">
            <div class="head">
                <a class="back-button" href="javascript:void(0)" 
                    onclick="closeModal('informarCodigo'); openModal('forgotPasswordModal')">
                    &lt; VOLTAR
                </a> 
            </div>
            <div class="head">
                <img src="../images/logo/Rota.svg" alt="Rotas Nordestinas">
            </div>
            <div class="head">
                <a class="close" href="javascript:void(0)" onclick="closeModal('forgotPasswordModal')">&times;</a>
            </div>
        </div>
        <div class="content-codigo">
            <h2>Recuperação de senha</h2>
        </div>
    </div>
</div>