<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotas Nordestinas</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="icon" href="../images/logo/favicon_verde.png" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header class="header">
        <a href="index.html" class="back-button">&lt; VOLTAR</a>
        <img class="logo" src="../images/logo/Rota.svg" alt="Rotas Nordestinas">
        <button class="menu-button" id="menuButton">&#9776;</button>
    </header>


    <div id="userSidebarWrapper" class="sidebar-wrapper">
        <div id="userSidebar" class="sidebar">
            <div class="sidebar-content">
                <div class="header">
                    <img src="/images/PERFIL.png" alt="">
                    <h2>Pikachu Silva</h2>
                    <p>Email: pikachu.silva@pokebola.com</p>
                </div>
    
                <div class="botoes">
                    <button class="button" id="editProfileButton"><i class="bx bx-user"></i>Editar Perfil</button>
                    <button class="button" id="suggestionButton"><i class="bx bx-comment-detail"></i>Fazer uma Sugestão</button>

                    <button class="close-button" id="closeButton">Sair <i class="bx bx-log-out"></i></button>
                </div>
            </div>
        </div>
    </div>








    <div id="editProfileSidebar" class="sidebar-wrapper">
        <div class="sidebar">
            <div class="sidebar-content edit-perfil">
                <h2>Editar Perfil</h2>
                <!-- Conteúdo adicional para editar perfil pode ser adicionado aqui -->
                <button class="close-button" onclick="closeSidebar('editProfileSidebar')">Fechar</button>
            </div>
        </div>
    </div>
    
    <div id="suggestionSidebar" class="sidebar-wrapper">
        <div class="sidebar">
            <div class="sidebar-content sugestion">
                <div class="sugestion-head">
                    <a class="back-button" href="javascript:void(0)" 
                        onclick="closeSidebar('suggestionSidebar')">
                        &lt;
                    </a> 
                    <h2>Nova Sugestão</h2>
                </div>
                
                <form id="suggestionForm" class="form" onsubmit="showSuccessMessage(event)">
                    <!-- Campo Cidade -->
                    <label for="city">Cidade:</label>
                    <input type="text" id="city" name="city" placeholder="Digite a cidade">
    
                    <!-- Campo Categoria -->
                    <label for="category">Categoria:</label>
                    <select id="category" name="category">
                        <option value="">Selecione uma categoria</option>
                        <option value="gastronomia">Gastronomia</option>
                        <option value="praias">Praias</option>
                        <option value="festas-tradicionais">Festas Tradicionais</option>
                        <option value="artesanato">Artesanato</option>
                        <option value="trilhas-ecologicas">Trilhas Ecológicas</option>
                        <option value="pontos-historicos">Pontos Históricos</option>
                        <option value="roteiros-culturais">Roteiros Culturais</option>
                    </select>
    
                    <!-- Campo Nome -->
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name" placeholder="Digite o nome" >
    
                    <!-- Campo Descrição -->
                    <label for="description">Descrição:</label>
                    <textarea id="description" name="description" placeholder="Digite a descrição" rows="4" ></textarea>
    
                    <!-- Campo Anexo -->
                    <label for="attachment">Anexo:</label>
                    <input type="file" id="attachment" name="attachment" accept="image/*, .pdf, .doc, .docx">
    
                    <!-- Botões -->
                    <div class="form-buttons">
                        <button type="button" class="button cancel" onclick="closeSidebar('suggestionSidebar')">Cancelar</button>
                        <button type="submit" class="button send">Enviar Sugestão</button>
                    </div>
                </form>
                
                <div id="successMessage" class="success-container" style="display: none;">
                    <div class="content">
                        <img src="/images/confirm/green-check-mark-icon-with-circle-tick-box-check-list-circle-frame-checkbox-symbol-sign-png 1.png" alt="Ícone de Sucesso" class="success-image" />
                        <p>Enviado com sucesso!</p>
                        <button class="button back-home" onclick="goToHomePage()">Voltar à Página Inicial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    


    

    
    <main class="main">
        <section class="region">
            <h2>Pernambuco</h2>
            <div class="cities-grid">
                <a href="/templates/estados/pernambuco/recife.html" class="city-card" style="background-image: url('../images/thumbpq_recife_nordeste-2336172885.jpg');">
                    <span>Recife</span>
                </a>
                <a href="/templates/estados/pernambuco/tamandare.html" class="city-card" style="background-image: url('../images/pontos-turisticos-de-pernambuco-tamandare.jpg');">
                    <span>Tamandaré</span>
                </a>
                <a href="/templates/estados/pernambuco/olinda.html" class="city-card" style="background-image: url('../images/AdobeStock_267411702-1324732710.jpeg');">
                    <span>Olinda</span>
                </a>
                <a href="/templates/estados/pernambuco/caruaru.html" class="city-card" style="background-image: url('../images/cb37db2a65_design-sem-nome-1-917976295.jpg');">
                    <span>Caruaru</span>
                </a>
            </div>
        </section>
        
        <section class="region">
            <h2>Piauí</h2>
            <div class="cities-grid">
                <a href="/templates/estados/piaui/parnaiba.html" class="city-card" style="background-image: url('../images/Piaui-Parnaiba-Praias-Capa-990x557@2x.jpg');">
                    <span>Parnaíba</span>
                </a>
                <a href="/templates/estados/piaui/teresina.html" class="city-card" style="background-image: url('../images/maxresdefault-11.jpg');">
                    <span>Teresina</span>
                </a>
                <a href="/templates/estados/piaui/barra_grande.html" class="city-card" style="background-image: url('../images/barra-grande-piaui-edit-11.webp');">
                    <span>Barra Grande</span>
                </a>
                <a href="/templates/estados/piaui/sao_raimundo_nonato.html" class="city-card" style="background-image: url('../images/serra-da-capivara.jpg');">
                    <span>São Raimundo Nonato</span>
                </a>
            </div>
        </section>
        
        <section class="region">
            <h2>Bahia</h2>
            <div class="cities-grid">
                <a href="/templates/estados/bahia/salvador.html" class="city-card" style="background-image: url('../images/timthumb.jpeg');">
                    <span>Salvador</span>
                </a>
                <a href="/templates/estados/bahia/porto_seguro.html" class="city-card" style="background-image: url('../images/Porto-Seguro-2705473436.jpg');">
                    <span>Porto Seguro</span>
                </a>
                <a href="/templates/estados/bahia/ilheus.html" class="city-card" style="background-image: url('../images/centro-historico-de-ilheus_12_203339-2073421223.jpg');">
                    <span>Ilhéus</span>
                </a>
                <a href="/templates/estados/bahia/luis_eduardo.html" class="city-card" style="background-image: url('../images/luis-eduardo-magalhc3a3es_redondo2017-11-06-3403786527.jpg');">
                    <span>Luís Eduardo</span>
                </a>
            </div>
        </section>
    </main>

    <!-- Rodapé -->
    <footer>
        <img class="logo" src="../images/logo/Rota.svg" alt="Rotas Nordestinas">
        <p class="intro"> O Rotas Nordestinas é o seu guia definitivo para descobrir o melhor do Nordeste do Brasil! Lançado em 2024, nosso site é feito especialmente para quem deseja explorar a rica cultura, as paisagens exuberantes e os destinos únicos que essa região oferece. De praias paradisíacas a centros históricos repletos de charme, aqui você encontra guias completos e gratuitos sobre os principais destinos nordestinos, com informações essenciais, fotos encantadoras e dicas exclusivas. Seja bem-vindo e embarque nessa jornada inesquecível!</p>
        <p id = "slogan">Rotas Nordestinas – Seu Portal para o Melhor do Nordeste Brasileiro!</p>
        <p id = "slogan">Lançado em 2024</p>
    </footer>


    <script src="/js/main.js" ></script>

</body>
</html>




