<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recife</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <h1>Recife - Pernambuco</h1>
    </header>
    <main>
        <p>Bem-vindo a Recife, capital de Pernambuco...</p>
        <img src="../../images/thumbpq_recife_nordeste-2336172885.jpg" alt="Recife">
    </main>
    <footer>
        <a href="../../main.html">Voltar à Página Inicial</a>
    </footer>
</body>
</html>
