<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recife</title>
    <link rel="stylesheet" href="/styles/partials/cidades/cidades.css">
    <link rel="icon" href="/images/logo/favicon_verde.png" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header"></header>
    
    <div class="banner">
        <div class="city-banner">
            <img src="/images/cidades/recife.png" alt="Recife">
            <div class="city-name">RECIFE</div>
        </div>
        <div class="city-description">
            <p>Recife é um município brasileiro, capital do estado de Pernambuco, localizado na Região Nordeste do país. Com área territorial de aproximadamente 218 km², é formado por uma planície aluvial, tendo as ilhas, penínsulas e manguezais como suas principais características geográficas. </p>
        </div>
        <div class="city-buttons">
            <button onclick="location.href='#'"><img src="/images/icons/location-white.svg"> Como chegar</button>
            <button onclick="location.href='#'"><img src="/images/icons/places-white.svg">Pontos Turísticos</button>
            <button onclick="location.href='#'"><img src="/images/icons/calendar-white.svg">Atividades</button>
            <button onclick="location.href='#'"><img src="/images/icons/lampada-white.svg">Dicas</button>
        </div>

    </div>
    

    <section id="feedback-section"></section>

    <footer id="footer"></footer>


    <script src="/js/cidades.js"></script>
</body>
</html>
