<link rel="stylesheet" href="/styles/partials/cidades/cidades.css">


<!-- Seção de Feedbacks -->
<section id="feedback-section">
    <div class="part1">
        <h2>Feedback dos Usuários</h2>
        <hr class="divider-line">
    </div>
    
    
    <div class="part2">
        <div class="part2-1">
            <div class="user-info">
                <img class="user" src="/images/icons/user1.png">
                <div class="user-data">
                    <h3>Usuario1</h3>
                    <p>31/12/2024</p>
                </div>
            </div>
            <img class="like" src="/images/confirm/like.png">
        </div>
        <div class="part2-2">
            <p>Adorei visitar Recife! Os pontos turísticos são incríveis e a gastronomia é espetacular.</p>
        </div>
    </div>
    <div class="part2">
        <div class="part2-1">
            <div class="user-info">
                <img class="user" src="/images/icons/user1.png">
                <div class="user-data">
                    <h3>Usuario2</h3>
                    <p>31/12/2024</p>
                </div>
            </div>
            <img class="like" src="/images/confirm/like.png">
        </div>
        <div class="part2-2">
            <p>Achei muito fácil encontrar hospedagem e o transporte foi bem tranquilo.</p>
        </div>
    </div>

    




    <!-- Formulário de Envio de Feedback -->
    <div class="feedback-form">
        <h3>Deixe seu Feedback</h3>
        <form id="feedback-form">
            <label for="name">Seu Nome:</label>
            <input type="text" id="name" name="name" placeholder="Digite seu nome" required>

            <label for="feedback">Seu Feedback:</label>
            <textarea id="feedback" name="feedback" rows="4" placeholder="Escreva seu feedback" required></textarea>

            <button type="submit">Enviar Feedback</button>
        </form>
    </div>
</section>