/* style.css */
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}



/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4d19d;
    padding: 15px 50px;
    border-bottom: 1px solid #6A4519;
}

.back-button {
    /* background-color: #ff8d8d; */
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
.back-button:hover {
    color: #2d7d28; 
}

.header .logo {
    font-size: 1.5rem;
    color: #333;
    /* background-color: #ff2a2a; */
    align-items: center;
    width: 133px;
    height: 40px;
    margin-right: 55px;
}


.menu-button {
    /* background-color: #ff2a2a; */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}






/* Estilos para o modal lateral */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Começa fora da tela */
    width: 300px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000;
}

.sidebar-content {
    padding: 20px;
}

.sidebar.open {
    right: 0; /* Aparece na tela */
}

.close-button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #ff3333;
}








main {
    padding: 2em;
    background: #FFFDF8;
}

/* Section */
.region {
    margin: 10px 0;
    text-align: center;
}

.region h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #070707;
    text-align: center;
}







/* Cities Grid */
.cities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.city-card {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.city-card span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 1.2rem;
}

.city-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}









footer {
    background: #F3E5D0;
    border-top: 3px solid #6A4519;
    border-left: 3px solid #6A4519;
    border-right: 3px solid #6A4519;
    border-bottom: 3px solid #6A4519;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer .logo {
    width: 133px;
    height: 40px;
    margin: 10px auto;
}

footer .intro {
    text-align: center;
    color: #6A4519;
    font-size: 12.85px; 
    font-family: Inter; 
    font-weight: 500;
}

footer #slogan {
    text-align: center; color: #6A4519; 
    font-size: 12.85px;
    font-family: Inter;
    font-weight: 800;
}









/* Responsive */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .menu-button {
        margin-top: 10px;
    }

    .cities-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
