* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    overflow-x: hidden;
}

.modal {
    background: #fff;
    width: 90%;
    height: 90%;
    max-width: 1000px;
    max-height: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    flex-direction: row; 
    z-index: 999;
    display: none; 
}

.modal-image {
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.modal-form {
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    /* background-color: #56e22f; */
}


.modal-form .header {
    width: 100%;
    height: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBE1B6;
}


.modal-form .header img{
    width: 10em;
}

/* Botão de fechar */
.modal-form .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: transform 0.5s ease; 
}

.modal-form .close:hover {
    transform: rotate(180deg); 
    color: #ee1d1d; 
}

/* Botão de voltar */
.modal-form .back-button {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 0.8em;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-weight: 800;
}

.modal-form .back-button:hover {
    color: #2d7d28; 
}





/* Formulário */
#loginForm {
    gap: 50px;
    /* background-color: #c04cff; */
    width: 80%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    text-align: left;
}


/* Formulário */
#loginForm h2{
    text-align: center;
}

#loginForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

#loginForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#loginForm .login-button {
    background-color: #F29559;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#loginForm .login-button:hover {
    background-color: #9D4F21;
}


/* Link "Esqueceu a senha" */
#loginForm a {
    text-decoration: none;
    color: #6A4519;
    margin-top: 5px;
    font-size: 0.8em;
}

#loginForm a:hover {
    text-decoration: underline;
}







.content-forgot{
    /* background-color: #e7c9c9; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    height: 80%;
    padding: 20px;
    margin-bottom: 20%;
}

.inputs-forgot{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.inputs-forgot label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}


.inputs-forgot input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.inputs-forgot button{
    background-color: #F29559;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.inputs-forgot button:hover{
    background-color: #9D4F21;
}

